<%- include('./partials/head') %>

  <h1 class="display-4 mb-3">Welcome to the BahNews</h1>
  <p class="lead mb-4">Discover, discuss, and stay informed with the latest news and headlines from Bahrain’s trusted newspaper.</p>
</body>
</html>