<%- include('./partials/head') %>

  <h1 class="display-4 mb-3">Welcome to the BahNews</h1>
  <p class="lead mb-4">Read, share, and explore the latest stories and headlines from across Bahrain.</p>
</body>
</html>